* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(219, 227, 228);
}

.nav_bar {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icone img {
    width: 160px;
    margin-left: -50px;
}

.serch {
    margin: 10px;
    border-radius: 8px;
    background-color: white;
}

.serch input {
    padding: 7px;
    width: 550px;
    background-color: rgb(207, 247, 233);
    margin-left: -50px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
}

.serch i {
    margin: 5px;
    font-size: 20px;
}

.shorts {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.cart_i i {
    font-size: 19px;
    margin: 3px;
}

p {

    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.main1 {
    background-color: rgb(73, 67, 67);
    margin-bottom: 100px;
}

.bar i {
    display: none;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.nav_bar {
    position: relative;
    background-color: #fff;
}

.bar_search {
    margin: 20px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

.bar_search input {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
}

.bar_search i {
    margin: 5px;
    font-size: 20px;
}

.flex_bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.close i {
    border: none;
    color: red;
    font-size: 27px;
}

.close i :hover {
    color: rgb(218, 93, 93);
}

.parts p {
    color: white;
    margin: 20px;
    /* font-size: 19px; */
}

@media only screen and (max-width: 1100px) {
    .serch input {
        width: 200px !important;
    }

    #section3 {
        display: none;
    }

    .section {
        margin: 10px;
    }

    .box p {
        font-size: 17px;
    }

    .box i {
        font-size: 17px;

    }

    .bar i {
        display: block;
        font-size: 20px;
    }

    .dress img {
        height: 40px;
    }

    #slid img {
        border-radius: 10px;
        width: 1085px;
        height: 360px;
        object-fit: cover;
    }

    #box_3 {
        display: none;
    }

}

@media screen and (max-width: 730px) {
    #Seller {
        display: none;
    }

    #section2 {
        display: none;
    }

    #Become {
        display: none;
    }

    #dots {
        display: none;
    }

    #produts_lists {
        display: inline;
    }

    #cart1 img {
        width: 195px;
        height: 90px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #jackets {
        width: 310px;
        height: 80px;
        margin: 5px;
    }

    #jackets img {
        height: 70px;
        margin-left: 20px;
    }

    .img1 {
        display: flex;
        align-items: center;
    }
    #slid img {
        border-radius: 10px;
        width: 705px;
        height: 250px;
        object-fit: cover;
    }
    #box_two {
        display: none;
    }

}

@media screen and (max-width: 630px) {
    .serch_12 {
        display: none;
    }

    #slid img {
        border-radius: 10px;
        width: 585px;
        height: 180px;
        object-fit: cover;
    }
    #number_1{
        width: 140px;
       }
       #number_1 img{
        width: 130px;
        height: 120px;
       }
}

@media screen and (max-width: 532px) {
    .icone img {
        width: 170px;
    }

    .serch input {
        width: 100px !important;
    }

    .serch i {
        margin: 2px;
        font-size: 15px;
    }

    .serch input {
        padding: 8px;
        width: 250px;
        font-size: 10px;
        border: none;
        border: 1px solid white;
    }

    .serch {
        margin: 10px;
    }

    #slid img {
        border-radius: 10px;
        width: 493px;
        height: 180px;
        object-fit: cover;
    }
}

@media screen and (max-width:413px) {
    .icone img {
        width: 140px;
        margin-left: -40px;
        margin-top: 10px
    }

    .parts p {
        font-size: 19px;
    }

    #slid img {
        border-radius: 10px;
        width: 355px;
        height: 150px;
        object-fit: cover;
    }

}

@media screen and (max-width: 430px) {
    #slid img {
        border-radius: 11px;
        width: 410px;
        height: 150px;
        object-fit: cover;
    }
}

@media screen and (max-width: 390px) {
    #slid img {
        border-radius: 10px;
        width: 370px;
        height: 150px;
        object-fit: cover;
    }
    #cart1 img {
        width: 185px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 387px) {
    #slid img {
        border-radius: 10px;
        width: 366px;
        height: 150px;
        object-fit: cover;
    }
    #cart1 img {
        width: 180px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 375px) {
    .icone img {
        width: 140px;
        margin: 5px;
    }
    .bar i {
        font-size: 25px;
        margin: 4px;
    }

    .serch input {
        width: 50px !important;
    }

    .serch i {
        margin: 2px;
        font-size: 15px;
    }
    #slid img {
        border-radius: 11px;
        width: 355px;
        height: 150px;
        object-fit: cover;
    }
    #cart1 img {
        width: 174px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 360px) {
    #slid img {
        border-radius: 11px;
        width: 340px;
        height: 150px;
        object-fit: cover;
    }
    #cart1 img {
        width: 140px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

#bar {
    display: none;
}

/* there are part of product */
.part_prodicts {
    background-color: white;
    padding-top: 5px;
}

.Products {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
}

.color {
    background-color: rgb(219, 227, 228);
    padding: 10px;
    align-items: center;
}

.dress {
    text-align: center;
    margin: 20px;
}

.dress img {
    height: 65px;
}

.dress p {
    font-size: 16px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* //there are a slider part */

header {
    padding: 10px;
    align-items: center;
}

.container_2 {
    margin: auto;
    overflow: hidden;
    max-width: 100%;
}

.slide img {
    border-radius: 10px;
    width: 1273px;
    height: 300px;
    object-fit: cover;
}

.slider {
    display: flex;
}

/* part of produts_lists down */
.produts_lists {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.headind h1 {
    font-size: 22px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img1 {
    width: 245px;
    border: 1px solid rgb(204, 226, 219);
    text-align: center;
    background-color: #fff;
}

.img1 img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

/* there are part of carts */

.cart_lists {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.cart1 img {
    width: 420px;
    margin-left: 2px;
    margin-right: 2px;
}

/* there are part off cart down part */
.main_three_box {
    display: flex;
    justify-content: space-evenly;
}

.three_box {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: #fff;
}

.number_1 img {
    width: 150px;
    height: 150px;
}

.number_1 {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(194, 183, 183);
}