* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(219, 227, 228);
}

.nav_bar {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icone img {
    width: 160px;
    margin-left: -50px;
}

.serch {
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.container {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.serch input {
    padding: 7px;
    width: 550px;
    background-color: rgb(207, 247, 233);
    margin-left: -50px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
}

.serch i {
    margin: 5px;
    font-size: 20px;
}

.shorts {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.cart_i i {
    font-size: 15px;
    margin: 3px;
}

.box:hover {
    border-radius: 8px;
    background-color: rgb(196, 206, 206);
}

p {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    margin: 7px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.main1 {
    background-color: rgb(73, 67, 67);
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.parts {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.bar i {
    display: none;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.nav_bar {
    position: relative;
    background-color: #fff;
}

.bar_search {
    border-radius: 8px;
    border: 2px solid black;
}

.bar_search input {
    width: 270px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.flex_bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.close i {
    border: none;
    color: red;
    font-size: 27px;
}

.close i :hover {
    color: rgb(218, 93, 93);
}

.parts p {
    color: white;
    margin: 5px;
    padding: 7px;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(146, 64, 64);
}

@media only screen and (max-width: 1299px) {
    #slid img {
        border-radius: 10px;
        width: 1277px;
        height: 360px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 1100px) {
    .serch input {
        width: 200px !important;
    }

    #section3 {
        display: none;
    }
    .box p {
        font-size: 17px;
    }

    .box i {
        font-size: 17px;
    }

    .bar i {
        display: block;
        font-size: 20px;
    }

    .dress img {
        height: 40px;
    }

    #slid img {
        border-radius: 10px;
        width: 1085px;
        height: 360px;
        object-fit: cover;
    }

    #box_3 {
        display: none;
    }
}
@media only screen and (max-width: 1027px) {
    #mouse {
        width: 228px;
        padding: 5px;
        margin: 5px;
    }

    #mouse img {
        height: 100px;
        width: 150px;
    }
    #mouse h2 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 920px) {
    #mouse {
        width: 205px;
        padding: 5px;
        margin: 5px;
    }

    #mouse img {
        height: 100px;
        width: 150px;
    }
    #mouse h2 {
        font-size: 15px;
    }
}
@media screen and (max-width: 825px) {
    #mouse {
        width: 230px;
        padding: 5px;
        margin: 5px;
    }

    #mouse img {
        height: 100px;
        width: 150px;
    }
    #mouse h2 {
        font-size: 15px;
    }
    /* there are part off margen bottem */
#margen_bottem{
    margin-bottom: 50px;
}
}

@media screen and (max-width: 730px) {
    #Seller {
        display: none;
    }

    #ending_flexity {
        display: block;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        bottom: 0px;
        width: 100%;
    }

    #section2 {
        display: none;
    }

    #Become {
        display: none;
    }

    #dots {
        display: none;
    }

    #produts_lists {
        display: inline;
    }

    #cart1 img {
        width: 195px;
        height: 90px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #jackets {
        width: 310px;
        height: 80px;
        margin: 5px;
    }

    .ending {
        display: none;
    }

    #jackets img {
        height: 70px;
        margin-left: 20px;
    }

    .img1 {
        display: flex;
        align-items: center;
    }

    #slid img {
        border-radius: 10px;
        width: 705px;
        height: 250px;
        object-fit: cover;
    }

    #box_two {
        display: none;
    }


    .color {
        margin-top: auto;
    }

}

@media screen and (max-width: 630px) {
    .serch_12 {
        display: none;
    }

    #slid img {
        border-radius: 10px;
        width: 585px;
        height: 180px;
        object-fit: cover;
    }

    #number_1 {
        width: 140px;
    }

    #number_1 img {
        width: 130px;
        height: 120px;
    }
}

@media screen and (max-width: 532px) {
    .icone img {
        width: 170px;
    }

    .Home_icone i {
        font-size: 14px;
    }

    #ending_flexity {
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        bottom: 0px;
        width: 100%;
    }

    .serch input {
        width: 100px !important;
    }

    .serch i {
        margin: 2px;
        font-size: 15px;
    }

    .serch input {
        padding: 8px;
        width: 250px;
        font-size: 10px;
        border: none;
        border: 1px solid white;
    }

    .serch {
        margin: 10px;
    }

    #slid img {
        border-radius: 10px;
        width: 493px;
        height: 180px;
        object-fit: cover;
    }

    #mouse {
        width: 160px;
        padding: 5px;
        margin: 5px;
    }

    #mouse img {
        height: 100px;
        width: 150px;
    }
    #mouse h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 430px) {
    #slid img {
        border-radius: 11px;
        width: 410px;
        height: 150px;
        object-fit: cover;
    }

    #cart1 img {
        height: 60px;
        width: 136px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #number_1 {
        width: 120px;
    }
    #mouse {
        width: 120px;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

    #mouse img {
        height: 100px;
        width: 120px;
        border-radius: 5px;
    }
    #mouse h2 {
        font-size: 15px;
    }
    #mouse p {
        font-size: 12px;
    }
}

@media screen and (max-width:414px) {
    .icone img {
        width: 140px;
        margin-left: -40px;
        margin-top: 10px
    }

    .parts p {
        font-size: 17px;
    }

    #slid img {
        border-radius: 10px;
        width: 393px;
        height: 150px;
        object-fit: cover;
    }

    #cart1 img {
        height: 60px;
        width: 125px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #number_1 {
        width: 155px;
    }
    #mouse {
        width: 115px;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

    #mouse img {
        height: 100px;
        width: 120px;
        border-radius: 5px;
    }
    #mouse h2 {
        font-size: 15px;
    }
    #mouse p {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 390px) {
    #slid img {
        border-radius: 10px;
        width: 370px;
        height: 150px;
        object-fit: cover;
    }

    #cart1 img {
        width: 117px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #number_1 {
        width: 140px;
    }
    #mouse {
        width: 100px;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

    #mouse img {
        height: 80px;
        width: 100px;
    }
    #mouse h2 {
        font-size: 15px;
    }
    #mouse p {
        font-size: 12px;
    }
}

@media screen and (max-width: 387px) {
    #slid img {
        border-radius: 10px;
        width: 366px;
        height: 150px;
        object-fit: cover;
    }

    #cart1 img {
        width: 115px;
        height: 80px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 375px) {
    .icone img {
        width: 140px;
        margin: 5px;
    }

    .bar i {
        font-size: 25px;
        margin: 4px;
    }

    .serch input {
        width: 50px !important;
    }

    .serch i {
        margin: 2px;
        font-size: 15px;
    }

    #slid img {
        border-radius: 11px;
        width: 355px;
        height: 150px;
        object-fit: cover;
    }

    #cart1 img {
        width: 115px;
        height: 65px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 371px) {
    #slid img {
        border-radius: 11px;
        width: 340px;
        height: 150px;
        object-fit: cover;
    }
    #cart1 img {
        width: 112px;
        height: 95px;
        border-radius: 7px;
        margin-left: 2px;
        margin-right: 2px;
    }

    #number_1 {
        width: 140px;
    }

}

#bar {
    display: none;
}

/* there are part of product */
.part_prodicts {
    background-color: white;
    padding-top: 5px;
}

.Products {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 25px;
    justify-content: space-evenly;
}

.color {
    margin-top: 30px;
    padding: 10px;
    align-items: center;
}

.dress {
    text-align: center;
    margin: 20px;
}

.dress:hover {
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.dress img {
    height: 80px;

}

.dress p {
    font-size: 16px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* //there are a slider part */

header {
    padding: 10px;
    align-items: center;
}

.container_2 {
    margin: auto;
    overflow: hidden;
    max-width: 100%;
}

.slide img {
    border-radius: 10px;
    width: 1328px;
    height: 300px;
    object-fit: cover;
}

.slider {
    display: flex;
}

/* part of produts_lists down */
.produts_lists {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.headind h1 {
    font-size: 22px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img1 {
    width: 245px;
    border: 1px solid rgb(204, 226, 219);
    text-align: center;
    background-color: #fff;
}

.img1:hover {
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img1 img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

/* there are part of carts */

.cart_lists {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.cart1 img {
    width: 440px;
    margin-left: 2px;
    margin-right: 2px;
}

/* there are part off cart down part */
.main_three_box {
    display: flex;
    justify-content: space-evenly;
}

.three_box {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: #fff;
}

.number_1 img {
    width: 150px;
    height: 150px;
}

.number_1 {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(194, 183, 183);
}

.number_1:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    border: 2px solid rgb(194, 183, 183);
}

/* slider_type imeges */

.slider_type {
    padding: 10px;
}

.slider_type img {
    width: 100%;
    height: auto;
}

/* there are part off three boxes flex */
.One_img_bg img {
    height: 500px;
    width: 400px;
}

.One_img_bg img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ending {
    background-color: rgb(48, 44, 44);
}

.main_end {
    text-align: center;
}

/* <!-- there are laste ending page --> */
.flexity {
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#about {
    color: rgb(207, 204, 204);
    margin-bottom: 15px;
}

/* there are parts off icons facbook */

.face {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.sosial p {
    color: rgb(207, 204, 204);
}

.facbook i {
    font-size: 18px;
    margin: 4px;
    padding: 5px;
    color: white;
}

.facbook i:hover {
    font-size: 20px;
    color: rgb(165, 173, 180);
}

/* there are part off 2002 */
.main_saller {
    display: flex;
    padding: 18px;
    justify-content: space-evenly;
}

.saller {
    display: flex;
    color: white;
    align-items: center;
}

.become_i i {
    margin: 5px;
    font-size: 16px;
}

.become_i i:hover {
    color: rgb(165, 173, 180);
    font-size: 17px;
}

/* there are part off ending home about */
.ending_flexity {
    display: none;
}

.Home_icone {
    border-radius: 10px;
    text-align: center;
}

.Home_icone i {
    font-size: 15px;
}

.Home_icone:hover {
    color: rgb(93, 87, 99);
}

.Home_icone p {
    font-size: 16px;
}

/* there are part off products page */
.mouse_carts h1 {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.products_parts {
    display: flex;
    flex-wrap: wrap;
}
#mouse img{
    border-radius: 10px;
}
.mouse img {
    border-radius: 10px;
    height: 140px;
    width: 190px;
    object-fit: contain;
}

.mouse h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}
.mouse p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
.display_none_before_serch {
    display: block;
}

.mouse {
    display: none;
} 

.mouse {
    text-align: center;
    width: 226px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(170, 180, 180);
}

.mouse:hover {
    border-radius: 10px;
    box-shadow: rgba(20, 20, 20, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* there are part off margen bottem */
#margen_bottem{
    margin-bottom: 50px;
}

